@charset "UTF-8";


*{
	margin: 0 auto;
}
.mainmenuBox li{
	list-style-type: none;
}

a {
    color: inherit;
    text-decoration: none;
}

.wrap{
	position: relative;
	background-color: white;
	text-align: center;
	width: 1280px;
	padding-bottom: 7px;
}

#emptyBox{
	width: 100%;
	height: 100px;
}
/*------------------------메인메뉴-------------------------------*/




.headBox{
	width: 100%;
    top: 0px;
    position: absolute;
    padding-bottom: 100px;
    z-index: 10;
}

.mainmenuBox{
	position: fixed;
    width: 1280px;
 	height: 47px;
    display: flex;
    flex-wrap: nowrap;
    top: 0px;
}

.mainmenuBox ul{
	text-align: center;
	font-weight: bold;
	border-bottom-style: ridge;	
	background-color: white;
}

.logo{
	flex-shrink: 1;
	width: 20%;
}

.logo li{
	text-align: left;
	padding-top: 5px;
}

#logoimg{
	height: 41px;
    width: 66%;
    margin: -1px;    
}

.mainmenu{
	flex-grow: 1;
	display: flex;
	width: 80%;
}

.mainmenu .dropBox{
	display: inline-block;
	width: 17%;
	padding-top: 14px;
}

.dropBox .dropmenu{
	padding: 20px;
	font-size: 16px;
	font-weight: bold;
	display: none;
	text-align: left;
	margin-top: 7px;
	border: 2px solid gray;
}

.dropBox > a {
	display: block;
}
.dropBox:hover {
	border-bottom: 6px solid;
}

.dropdown-item {
	display: block;
	padding: 10px;
	margin: 20px 0;
}
.dropdown-item:hover {
	background: #7c7c7c;
	color:white;
}


/********************* footerBox *****************/
#footerBox {
	background: #7c7c7c;
	color: white;
}

ul#bottomMenuItem li {
    width: 23%;
    display: inline-block;
    margin-bottom: 6px;
}

ul#bottomMenuItem {
    float: left;
    width: 100%;
    margin-bottom: 6px;
    padding-left:0;
}

#bottomMenuBox{
	padding-top:14px;
}



#moveToTopBox{
	height: 187px;
	padding-top:20px;
}

#companyLogo{
    margin-top: -40px;	
}

#companyLogo img{
	width: 150px;
	border-radius: 10px;
}

#moveToTop:hover{opacity: 0.6; cursor: pointer;}